@import 'tailwindcss';
@import './assets/fonts/interDisplay/css/InterDisplay.css';

@theme {
  --font-sans: 'Inter', 'Inter Display', sans-serif;

  --color-brand-primary: #fc8e00;
  --color-brand-secondary-blue: #0d2f78;

  --color-neutral-grey-100: #ebebeb;
  --color-neutral-grey-200: #d7d7dc;
  --color-neutral-grey-300: #a3a3a3;
  --color-neutral-grey-500: #5c5c5c;
  --color-neutral-grey-600: #171717;

  --color-semantics-red: #ef4444;
  --color-semantics-green: #16a34a;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Inter Display', sans-serif;
  background: #f9fafa;
}
